/*
 * SolisArt
 */

html
{
	height: 100%;
}

body
{
	background: #e0e0e0;
	font: normal 14px Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	height: 100%;
	margin: 0;
	padding: 0;
}

img
{
	border: none;
}

a
{
	color: #0060b0;
}

/*
 * EntÃªte du site 
 */

table.entete
{
	width: 100%;
	background-color: #ffffff;
}

.entete_titre
{
	text-align: center;
	color: #f9b000;
	font: normal 18px Verdana, Arial, Helvetica, sans-serif;
}

.entete_menu
{
	text-align: left;
	vertical-align: bottom;
	font: normal 14px Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
}

a.lien_menu:link
{
	color: #808080;
	text-decoration: none;
}

a.lien_menu:visited
{
	color: #808080;
	text-decoration: none;
}

a.lien_menu:hover
{
	color: #000000;
	text-decoration: none;
}

.entete_authent
{
	vertical-align: bottom;
	text-align: right;
	font: normal 10px Verdana, Arial, Helvetica, sans-serif;
}

.input_authent
{
	font: normal 10px Verdana, Arial, Helvetica, sans-serif;
	width: 80px;
}

.version
{
	text-align: left;
	font: normal 10px Verdana, Arial, Helvetica, sans-serif;
	color: #808080;
}

/*
 *
 */

.formulaire_connecter input[type=submit]
{
	background: url(../../../image/connect.png) center left no-repeat;
	padding-left: 14px;
	cursor: pointer;
	border: 0;
}

.formulaire_deconnecter input[type=submit]
{
	background: url(../../../image/disconnect.png) center left no-repeat;
	padding-left: 14px;
	cursor: pointer;
	border: 0;
}

.formulaire_valider input[type=submit]
{
	background: url(../../../image/accept.png) center left no-repeat;
	padding-left: 16px;
	cursor: pointer;
	border: 0;
}

.formulaire_editer input[type=submit][name=modification]
{
	background: url(../../../image/page_white_edit.png) center left no-repeat;
	padding-left: 16px;
	cursor: pointer;
	border: 0;
}

.formulaire_editer input[type=submit][name=suppression]
{
	background: url(../../../image/cross.png) center left no-repeat;
	padding-left: 16px;
	cursor: pointer;
	border: 0;
}

.formulaire_editer input[type=submit][name=creation]
{
	background: url(../../../image/add.png) center left no-repeat;
	padding-left: 16px;
	cursor: pointer;
	border: 0;
}

.formulaire_editer input[type=submit][name=confirmation]
{
	background: url(../../../image/add.png) center left no-repeat;
	padding-left: 16px;
	cursor: pointer;
	border: 0;
}

.formulaire_ajouter_acces input[type=submit]
{
	background: url(../../../image/add.png) center center no-repeat;
	padding-left: 4px;
	cursor: pointer;
	border: 0;
}

/*
 * 
 */

#page
{
	position:relative;
	min-height:100%;
}

#contenu
{
	padding-bottom: 44px;
}

#pied
{
	background-color: #c0c0c0;
	height: 40px;
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

/*
 * Titre des pages et sous-titre
 */

.titre1
{
	font: normal 18px Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	text-align: center;
}

.titre2
{
	font: normal 14px Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	font-weight: bold;
}

/*
 * 
 */

.alignement_haut
{
	vertical-align: top;
}

.alignement_milieu
{
	vertical-align: middle;
}

.alignement_bas
{
	vertical-align: bottom;
}

.titre_dialogue
{
	color: #800000;
	font-weight: bold;
}

.oblique
{
	font-weight: normal;
	font-style: oblique;
}

.gauche
{
	text-align: left;
}

.centre
{
	text-align: center;
}

.droite
{
	text-align: right;
}

.message_erreur
{
	color: #800000;
}

.message_succes
{
	color: #008000;
}

.heure_inconnue
{
	text-align: center;
	color: #ff0000;
}

.heure_verte
{
	color: #008000;
}

.heure_orange
{
	color: #ffaa00;
}

.heure_rouge
{
	color: #ff0000;
}

.milieu
{
	margin: auto;
}

table.liste
{
	background-color: #ffffff;
}

table.pc100
{
	width: 100%;
}

.sans_bordure
{
	margin: 0px;
	border: 0px;
	padding: 0px;
	border-spacing: 0;
}

tr.liste_entete
{
	font: italic 14px Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
}

tr.liste_ligne
{
	font: normal 14px Verdana, Arial, Helvetica, sans-serif;
}

tr.liste_ligne_paire
{
	background-color: #e0e0e0;
}

tr.liste_ligne_impaire
{
	background-color: #e8e8e8;
}

td.liste_colonne_titre
{
	background-color: #d0d0d0;
}

td.liste_colonne_paire
{
	background-color: #e0e0e0;
}

td.liste_colonne_impaire
{
	background-color: #e8e8e8;
}

.colonne_centree_50px
{
	width: 50px;
	text-align: center;
}

.colonne_centree_100px
{
	width: 100px;
	text-align: center;
}

.colonne_droite_150px
{
	width: 150px;
	text-align: right;
}

.colonne_gauche_200px
{
	width: 200px;
	text-align: left;
}

.colonne_centree_200px
{
	width: 200px;
	text-align: center;
}

.colonne_droite_200px
{
	width: 200px;
	text-align: right;
}

.colonne_centree_400px
{
	width: 400px;
	text-align: center;
}

pre
{
	font: normal 10px Courier;
}

a.tooltip
{
	color: #000000;
	text-decoration: none;
}

a.tooltip:hover
{
	color: #000000;
	text-decoration: none;
}

a.tooltip span
{
	z-index: 10;
	display: none;
	padding: 4px 4px;
	margin-top: -12px;
	margin-left: 12px;
	width: 300px;
}

a.tooltip:hover span
{
	display: inline;
	position: absolute;
	border: 1px solid #DCA;
	background: #FFFAF0;
}

.callout
{
	z-index: 20;
	position: absolute;
	top: 9px;
	border: 0;
	left: -12px;
}

.callout2
{
	z-index: 20;
	position: absolute;
	top: 1px;
	border: 0;
	left: -12px;
}

/*CSS3 extras*/
a.tooltip span
{
	border-radius: 4px;
	box-shadow: 5px 5px 8px #CCC;
}

table.info
{
	width: 100%;
}

td.comm_heure
{
	width: 150px;
	padding: 0px;
	margin: 0px;
}

td.comm_statut
{
	width: 16px;
	padding: 0px;
	margin: 0px;
}

table.barre
{
	border-collapse: collapse;
}

td.valeur_normal
{
	background-image: url(../../../image/transparent.png);
	background-repeat: no-repeat;
	background-position: center center;
	width: 16px;
	height: 16px;
}

td.valeur_modifie
{
	background-image: url(../../../image/bell.png);
	background-repeat: no-repeat;
	background-position: center center;
	width: 16px;
	height: 16px;
}

td.valeur_envoye
{
	background-image: url(../../../image/bell_go.png);
	background-repeat: no-repeat;
	background-position: center center;
	width: 16px;
	height: 16px;
}

td.barre_jour
{
	text-align: right;
	vertical-align: bottom;
	padding-right: 6px;
}

td.barre_reduit
{
	background-image: url(../../../image/bleu.png);
	width: 10px;
	height: 40px;
	background-repeat: no-repeat;
	background-position: left top;
	text-align: center;
	vertical-align: top;
	padding: 1px;
}

td.barre_confort
{
	background-image: url(../../../image/orange.png);
	width: 10px;
	height: 40px;
	background-repeat: no-repeat;
	background-position: left top;
	text-align: center;
	vertical-align: top;
	padding: 1px;
}

td.barre_boutons
{
	text-align: center;
	vertical-align: bottom;
}

.pages-choix
{
	text-align: center;
}

.input-3car
{
	width: 36px;
}

.input-4car
{
	width: 48px;
}

.input-6car
{
	width: 72px;
}

.input-8car
{
	width: 96px;
}

.input-10car
{
	width: 120px;
}

.input-14car
{
	width: 168px;
}

.input-20car
{
	width: 240px;
}

.input-32car
{
	width: 384px;
}

.selectmenu-maj
{
	width: 300px;
}

.bouton-petit .ui-button-text
{
	font-size: 0.6em;
}

.inline
{
	display: inline;
}

.jour
{
	vertical-align: middle;
	padding-right: 6px;
}

.programmation
{
	font: normal 10px Verdana, Arial, Helvetica, sans-serif;
	vertical-align: middle;
}

.clignotant
{
	color: #C00000;
	animation: Clignotement 1s infinite;
}

@keyframes Clignotement
{
	0%
	{
		opacity: 1;
	}
	50%
	{
		opacity: 0;
	}
	100%
	{
		opacity: 1;
	}
}

.upload-div-1
{
	position: relative;
	width: 350px;
}

.upload-input-1
{
	outline: none;
	position: relative;
	text-align: right;
	-moz-opacity: 0;
	filter: alpha(opacity: 0);
	opacity: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
}

.upload-div-2
{
	background: url(../../../image/folder_blue.png) center right no-repeat;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 350px;
	padding: 0;
	margin: 0;
	z-index: 1;
	line-height: 100%;
}

.upload-input-2
{
	width: 300px;
}

.fond_gris_fonce
{
	background-color: #e0e0e0;
}

.fond_gris_clair
{
	background-color: #f0f0f0;
}

.fond_rose
{
	background-color: #ffc0cb;
}

.nouveau-donnee
{
	height: 300px;
}
